@model IEnumerable<LiftOff_Project.Models.Song>;

@{
    ViewData["Title"] = "Index";
}

<h1>Song List</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>Artist</th>
            <th>Title</th>
        </tr>

        @foreach (var song in Model)
        {
            <tr>
                <td>@Html.DisplayNameFor(model => model.Artist)</td>
                <td>@Html.DisplayNameFor(model => model.Title)</td>
            </tr>
        }
    </table>
}
else
{
    <p>No Songs Found</p>
}