@model IEnumerable<LiftOff_Project.Models.Song>;

@{
    ViewData["Title"] = "Index";
}

<header>
    <h1>Song List</h1>
</header>

<body>
    <form asp-controller="Home" asp-action="Index" method="get">
        <p>
            <input type="text" name="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </form>

    <table class="table">
        <tr>
            <th>Artist</th>
            <th>Title</th>
        </tr>

        @foreach (var song in Model)
        {
            <tr>
                <td>@song.Artist</td>
                <td>@song.Title</td>
            </tr>
        }
    </table>
</body>