
<h1>Search</h1>

<form asp-controller="Song" asp-action="Search">
    <p>
        Artist: <input type="text" name="ArtistSearch" />
        <input type="submit" value="Search" />
        Title: <input type="text" name="TitleSearch" />
        <input type="submit" value="Search" />
    </p>
</form>